/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 2, 2024, 4:31:19 PM
    Author     : Luu Bao
*/

.buttonMain:hover {
  background-color: red;
  color: lawngreen;
}
