/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 2, 2024, 4:31:19 PM
    Author     : Luu Bao
*/

.buttonMain {
    -fx-background-color: #fff;
}
.buttonMain:hover {
    -fx-background-color: #99ffff;
    -fx-text-fill: red;

}
.buttonMain:focused {
    -fx-background-color:#7bf60b;
}
AnchorPane {
    -fx-border-color:blanchedalmond;
}
.btnThanhToan{
    -fx-background-color:green;
    -fx-background-radius:13px;
}

.btnThanhToan:hover{
    -fx-background-color:darkolivegreen;
}
.btnHover:hover{
    -fx-background-color:#ddd;
}

.btnHover{
        -fx-background-color:white;
}